html, body {
    height: 100%;
}

div.wrapper {
    height:100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items:center;
    -webkit-justify-content: center;
    justify-content:center;
    text-align: center;
}

input[type="file"] {
    width: 200px;
    padding-top: 30px;
    padding-bottom: 45px;
    line-height: 10px;
}
